[Unit]
Description=MLflow service
PartOf=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/etc/docker/compose/mlflow

ExecStartPre=/usr/bin/docker compose down
LoadCredential=.env:/etc/docker/compose/mlflow/.env
ExecStart=/usr/bin/docker compose --env-file=${CREDENTIALS_DIRECTORY}/.env up --remove-orphans
ExecStop=/usr/bin/docker compose down
ExecReload=/usr/bin/docker compose restart

[Install]
WantedBy=multi-user.target
